.dropdown-item1:hover{
  background-image: linear-gradient(45deg, red 25%, transparent 25%, transparent 50%, red 50%, red 75%, transparent 75%, #fff);
}

.dropdown-item2:hover{
  background-image: linear-gradient(45deg, rgb(66, 85, 97) 25%, transparent 25%, transparent 50%, rgb(66, 85, 97) 50%, rgb(66, 85, 97) 75%, transparent 75%, #fff);
  color: white;
}

.dropdown-item3:hover{
  background-image: linear-gradient(45deg, rgb(120, 181, 59) 25%, transparent 25%, transparent 50%, rgb(120, 181, 59) 50%, rgb(120, 181, 59) 75%, transparent 75%, #fff);
  color: white;
}
.dropdown-item4:hover{
  background-image: linear-gradient(45deg, red 25%, transparent 25%, transparent 50%, red 50%, red 75%, transparent 75%, #fff);
}

