---
title: Le Wagon - Middleman
---



<div id="home">
  <div class="home-content">
    <%= image_tag "fgaivao.jpeg", width: "200" %>
    <h3>
      Francisco Gaivão
    </h3>
    <p class="about">
      <%= link_to "I'm not just a pretty face, learn more about me and my skills", "about.html" %>
    </p>
  </div>
</div>


